<!DOCTYPE html>
<HTML>
    <HEAD>
        <TITLE>Poem for Your Sprog</TITLE>

        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <!-- google font -->
        <link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre:300,300i,700" rel="stylesheet">

        <!-- font awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <!-- emoji -->
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">


        <link rel="icon" href="assets/icon.png" />
        <link rel = "stylesheet" type="text/css" href = "../assets/style.css"/>

    </HEAD>

    <BODY>

        <div id="app">

            <h1 class = "page-title"><a href = "/">A Poem For Your Sprog</a></h1>

            <div class = "page-main-section">

                

                <div class = "controls-section">
                    <div class = "toggle toggle-left" @click="previousPoem()">
                        <i class="fas fa-chevron-left"></i>
                    </div>

                    <button id = "random" @click="randomPoem()">Random</button>

                    <div class = "toggle toggle-right" @click="nextPoem()">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>

                <div class = "poem-main-section">

                    <div class = "poem" v-if="currentPoem!=null">


                        <div id = "counter">
                            <a v-if="currentPoem!=null" :href="currentPoem.link" id = "poem-link" target = "_blank"># {{ currentPoemNumber }}</a>
                        </div>

                        <div id = "poem-body" v-html="currentPoem.html"></div>
                        
                        <a :href="currentPoem.parent" target = "_blank">Parent</a>

                        <div id = "poem-tags">
                            <button id = "happy">
                                <i class="em em-smiley"></i> 
                                <span class = "count">{{currentPoem.votes.happy}}</span>
                            </button>
                            <button id = "sad">
                                <i class="em em-cry"></i> 
                                <span class = "count">{{currentPoem.votes.sad}}</span>
                            </button>
                            <button id = "deep">
                                <i class="em em-thinking_face"></i> 
                                <span class = "count">{{currentPoem.votes.deep}}</span>
                            </button>
                            <button id = "sexy">
                                <i class="em em-eggplant"></i> 
                                <span class = "count">{{currentPoem.votes.sexy}}</span>
                            </button>
                            <button id = "timmy">
                                <i class="em em-skull"></i> 
                                <span class = "count">{{currentPoem.votes.timmy}}</span>
                            </button>
                        </div>

                        
                    </div>

                    <div id = "skeleton-poem" v-if="currentPoem==null">
                        <div id = "skeleton-stanza">
                            <div class = "skeleton-line one"></div>
                            <div class = "skeleton-line two"></div>
                            <div class = "skeleton-line three"></div>
                            <div class = "skeleton-line four"></div>
                        </div>

                        <div id = "skeleton-stanza">
                            <div class = "skeleton-line one"></div>
                            <div class = "skeleton-line two"></div>
                            <div class = "skeleton-line three"></div>
                            <div class = "skeleton-line four"></div>
                        </div>
                        <div class = "skeleton-line one"></div>
                    </div>
                </div>
            </div>

        </div>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
        <script type="text/javascript" src = "../assets/script.js"></script>
    </BODY>

</HTML>
