
<!DOCTYPE html>
<html>
<head>
    <title>IMA TITLE</title>
    <link rel="icon" href="assets/icon.png" />
    <link rel = "stylesheet" type="text/css" href = "assets/style.css"></style>
</head>
<body>
    YO I'M A TEST

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src = "assets/script.js"></script>
</body>
</html>