
<!DOCTYPE html>
<html>
<head>
    <title>IMA TITLE</title>
    <link rel="icon" href="assets/icon.png" />
    <link rel = "stylesheet" type="text/css" href = "assets/style.css"></style>
</head>
<body>
    <div class = "test-container">
        <div class = "a">a</div>
        <div class = "b">b</div>
    </div>

</body>
</html>
