
@keyframes odd-skeleton {
    0%   {opacity: 0.8;}
    25%  {opacity: 0.7;}
    50%  {opacity: 0.5;}
    75%  {opacity: 0.6;}
    100% {opacity: 0.7}
}


@keyframes even-skeleton {
    0%   {opacity: 0.4;}
    25%  {opacity: 0.5;}
    50%  {opacity: 0.6;}
    75%  {opacity: 0.5;}
    100% {opacity: 0.4;}
}


body {
    background: #e2d7b4;
    color: #906d3e;
    font-family: 'Averia Serif Libre', cursive;
    margin: 0;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    color: #483111;
    padding: 7px 17px;
    margin: 3px;
    display: inline-block;
    border-radius: 5px;
    background: rgba(146, 139, 114, 1);
    cursor: pointer;
    border: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

button:focus {
    outline: 0;
}

button:hover {
    background: rgba(119, 173, 202, 0.9);
    box-shadow: 0px 1px 2px rgba(10, 10, 10, 0.2);
    transform: translateY(-3px);
}

button:active {
    background: rgba(128, 128, 128, 0.9);
}

.page-title{
    text-align: center;
    background: #ccc29f;
    margin: 0 0 1em 0;
    padding: 15px;
}

.page-title a, .page-title a:active, .page-title a:visited {
    color: #906d3e;
    text-decoration: none;
}

.page-title a:hover {
    color: #483111;
}

.page-main-section {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.poem-main-section {
    display: flex;
    justify-content: center;
    flex: 1;
}

.controls-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poem {
    display: flex;
    align-content: stretch;
    flex-direction: column;
    text-align: center;
}

#poem-body {
    font-size: 1.5rem;
    justify-content: center;
    flex-grow: 1;
}

#poem-tags {
    padding-bottom: 15px;
    display: none;
}

.count {
    vertical-align: middle;
    font-size: 1.1rem;
}



#counter {
    color: #d49c52;
    text-align: center;
    padding-bottom: 5vh;
    display: none;
}

.toggle {
    color: #d49c52;
    align-self: center;
    margin: 0 25px;
    font-size: 4rem;
}

.toggle:hover{
    color: #c37234;
    color: rgba(119, 173, 202, 0.9);
    cursor: pointer;
}

#random {
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1em;
}


#loading-bar {
    display: none;
    text-align: center;
    font-size: 2em;
    /*background: #bbbbbb;*/

    background: #92a992;
    border-radius: 10px;
    margin: 30px 20px;
}

#progress-bar {
    z-index: 2;
    background: #92a992;
}

#percent-count {
    z-index: 3;
    display: inline-block;
}

#skeleton-poem{
    margin: 40px auto;
    width: 70%
}


#skeleton-stanza{
    margin: 20px 0;
}

.skeleton-line {
    height: 1em;
    width: 80%;
    background: #906d3e;
    margin: 8px auto;
    opacity: 0.8;
}

.one{
    width: 80%;
    opacity: 0.8;
    animation-name: odd-skeleton;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.two{
    width: 70%;
    opacity: 0.6;
    animation-name: even-skeleton;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.three{
    width: 85%;
    opacity: 0.8;
    animation-name: odd-skeleton;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.four{
    width: 70%;
    opacity: 0.6;
    animation-name: even-skeleton;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
/* TEST CODE */

.test-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
}

.a {
  background: blue;
  border: 1px solid gray;
}

.b {
  background: green;
  border: 1px solid gray;
}


/* END TEST CODE */

@media screen and (max-width: 768px){

    .page-title {
        font-size: 1.6em;
    }

    .toggle {
        font-size: 2em;
    }

    #poem-body {
        font-size: 1rem;
        padding: 0 20px;
        flex-grow: 1;
    }

    button {
        padding: 5px 10px;
        margin: 3px;
    }
}
