
@keyframes odd-skeleton {
    0%   {opacity: 0.8;}
    25%  {opacity: 0.7;}
    50%  {opacity: 0.5;}
    75%  {opacity: 0.6;}
    100% {opacity: 0.7}
}


@keyframes even-skeleton {
    0%   {opacity: 0.4;}
    25%  {opacity: 0.5;}
    50%  {opacity: 0.6;}
    75%  {opacity: 0.5;}
    100% {opacity: 0.4;}
}


body {
    background: #e2d7b4;
    color: #906d3e;
    font-family: 'Averia Serif Libre', cursive;

    max-width: 980px;
    margin: 0 auto;
}

.page-title{
    text-align: center;
}

.section-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poem {
    flex-direction: column;
    text-align: center;
    display: none;
}

#poem-body {
    font-size: 1.5rem;
    justify-content: center;
}

#poem-tags {
    margin-bottom: 15px;
}

#poem-tags div {
    border: 3px solid #483111;
    color: #483111;
    padding: 3px 8px;
    margin: 3px;
    display: inline-block;
    border-radius: 3px;
    background: rgba(128, 128, 128, 0.3);
    cursor: pointer;
    
}

#poem-tags div:hover {
    background: rgba(128, 128, 128, 0.6);
}

.counter {
    color: #d49c52;
    text-align: center;
}

.toggle {
    color: #d49c52;
    align-self: center;
    margin: 0 25px;
    font-size: 4rem;
}

.toggle:hover{
    color: #c37234;
    cursor: pointer;
}

#random {

    border: 1px solid gray;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1em;
    color: #906d3e;
    background: none;
}

#random:hover {
    background: #cec4a3;
}

#random:active, #random:focus {
    outline: none;
}


#loading-bar {
    display: none;
    text-align: center;
    font-size: 2em;
    /*background: #bbbbbb;*/

    background: #92a992;
    border-radius: 10px;
    margin: 30px 20px;
}

#progress-bar {
    z-index: 2;
    background: #92a992;
}

#percent-count {
    z-index: 3;
    display: inline-block;
}

#skeleton-poem{
    margin: 40px auto;
    width: 70%
}


#skeleton-stanza{
    margin: 20px 0;
}

.skeleton-line {
    height: 1em;
    width: 80%;
    background: #906d3e;
    margin: 8px auto;
    opacity: 0.8;
}

.one{
    width: 80%;
    opacity: 0.8;
    animation-name: odd-skeleton;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.two{
    width: 70%;
    opacity: 0.6;
    animation-name: even-skeleton;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.three{
    width: 85%;
    opacity: 0.8;
    animation-name: odd-skeleton;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.four{
    width: 70%;
    opacity: 0.6;
    animation-name: even-skeleton;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


@media screen and (max-width: 768px){

    .page-title {
        font-size: 1.6em;
        margin: 30px 0px;
    }

    .toggle {
        font-size: 2em;
    }

    #poem-body {
        font-size: 1rem;
        padding: 0 20px;
    }
}